#homeSection {
  background-image: url("images/intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}


/* Container */

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}


/* Header */

.header_inner {
  display: flex;
  justify-content: space-between;
}


/* Nav */

.logo {
  display: inline-block;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 200;
  text-decoration: none;
  margin-top: 20px;
}

.nav_link {
color: #ffffff;
font-family: "Roboto";
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.33px;
display: inline-block;
vertical-align: top;
margin: 35px 25px;
text-decoration: none;
}

.nav_link:hover {
  color: #00dfcf;
  text-decoration: none;
  transition: .2s linear;
}


/* Intro */

.intro-par {
  font-family: "Roboto",sans-serif;
  color: #fff;
  line-height: 1.5;
}


.intro_title {
  display: inline-block;
  vertical-align: top;
  margin: 200px auto 10px;
  font-family: "Playfair Display", serif;
  color: #fff;

}

.intro_inner {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.intro_text {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-family: "Roboto";
  margin: 15px auto 30px;
}

hr {
  border-style: solid;
  height: 4px;
  background-color: #00e0d0;
  width: 50px;
}


/* Button */

.intro-btn {
  font-family: 'Hammersmith One', sans-serif;
  display: inline-block;
  vertical-align: top;
  border: 3px solid;
  padding: 10px 30px;
  color: #00e0d0;
  border-radius: 4%;
  text-transform: uppercase;
}

.intro-btn:hover {
  text-decoration: none;
  transition: .2s linear;
}

/* Oue Srory Section */

.story_title {
  font-weight: bold;
  display: inline-block;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.col-logo {
  font-size: 2rem;
  text-align:right;
  margin: 40px 30px 0 0;
}


.col_text {
  text-align: left;
  margin: 40px 0 0 40px;
  line-height: 2;

}

p {
  font-family: "Roboto", sans-serif;
  color: #413d4b;
}

.story-btn {
  margin-top: 20px;
  font-family: 'Hammersmith One', sans-serif;
  display: inline-block;
  vertical-align: top;
  border: 3px solid;
  padding: 10px 30px;
  color: #00e0d0;
  border-radius: 4%;
  text-transform: uppercase;
}

.story-btn:hover {
  text-decoration: none;
  transition: .2s linear;
}



/* Video section */

#videoSection {
  background-image: url("images/city1.png");
  background-size: cover;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  margin-top: 100px;
  text-align: center;
}

.play_btn {
  display: inline-block;
  justify-content: center;
}


.videoSection_text {
  margin-top: 15px;
  color: #fff;
  display: inline-block;
}

.video_intro_inner {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  margin: 330px auto;
}


/* EXPERTISE SECTION */


#expertise {
  width: 100%;
  height: 850px;
  background-color: #fff;
}

.exp_inner {
  display: inline-inline-block;
  line-height: 3;
}

.exp_title {
  display: inline-block;
  margin: 55px auto 25px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
}

.exp_text {
  display:block;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  opacity: 0.75;
}

.exp_line {
   background-color: grey;
   border-top-style: solid;
   border-width: 3px;
   margin: 30px auto;
   opacity: 0.3;
}

.card-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
}

.card-text {
  line-height: 2;
  font-family: "Roboto";
}

.card-body {
  line-height: 3;
}

.fas{
  margin: 20px auto;
  color: #00e0d0;
}
.far{
  margin: 20px auto;
  color: #00e0d0;
}
.fab{
  margin: 20px auto;
  color: #00e0d0;
}



.row {
  margin: 20px auto 20px;
}



/* OUR TEAM SECTION */


#team {
  background-image: url("images/card_overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

}


.team_title {
  display: inline-block;
  color: #fff;
  margin: 55px auto 30px;
  line-height: 1.5;
}

.team_line {
  border-top-style: solid;
  border-width: 2px;
  background-color: grey;
}


.team_card {
  display: inline-block;
  justify-content: center;
  margin: 0 10px;

}

.card_img {
  width: 220px;
  height: 229px;
}


.team_col {
  display: inline-block;
  justify-content:center;
  margin: 0 10px;
  width: 220px;
  height: 80px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #77748b;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}

.team_col_title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.team_col_text {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  color: #8f8aa2;
}

.team_footer {
  display: inline-block;
  justify-content: center;
  margin: 65px auto;
  line-height: 2;
}

.team_footer_text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #f3f3f3;
}

#newsForm {
  width: 100%;
  background-color: #fff;
  height: 680px;

}

.form_title {
  margin: 45px 0 40px;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  color: color: #413d4b;
  text-align: left;
}

.form-control {
  margin: 20px 0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: color: #413d4b;
  opacity: 0.5;
}

.submit_btn {
  font-family: 'Hammersmith One', sans-serif;
  position: absolute;
  left: 15px;
  border: 3px solid;
  padding: 10px 30px;
  color: #00e0d0;
  border-radius: 4%;
  text-transform: uppercase;
}

.brands {
  margin-right: 150px;
  margin-top: 35px;
}




/* FOOT SECTION */


#footend {
  width: 100%;
  height: 400px;
  background-image: url("images/footend.png");

}

.foot_logo {
  margin-top: 80px;
}

.foot_title {
  margin-top: 90px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

}

.foot_text {
font-family: "Roboto";
font-size: 14px;
font-weight: 300px;
color: #fff;
line-height: 1.5;
margin: 20px 2px 75px;

}

.foot_text_middle {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300px;
  color: #fff;
  line-height: 2.5;
  display:flex;
  margin: 15px 15px 0 15px;

}

.col {
  text-align: left;
}

.location {
  color: #fff;
  display: inline-block;
  margin-top: 25px;
}

.foot_link {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px 0 2px;
  text-align: left;
}

.foot_link:hover {
  text-decoration: none;
  color: #22a4b5;
  transition: .1s linear;
}

.phone {
  color: #fff;
  display:inline-block;
  margin: 0 11px 0 11px;
}

.foot_tel {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  display:inline-block;
}

.subscribe_form {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #a19bb5;
  color: #a19bb5;
  padding: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
  display: inline-block;
  width: 210px;
  height: 45px;
}

.btn_email {
 width: 70px;
 height: 45px;
 background-color: #a099b3;
 opacity: 0.75;
 border: none;
}

.social_link {
  display: inline-block;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  padding: 7px 12px;
  border-radius: 60%;
  margin-top: 35px;
}

.social_facebook {
  display: inline-block;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  padding: 7px 16px;
  border-radius: 60%;
  margin-top: 35px;
}

.copryright {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.35px;
  text-align: right;
  margin : 20px 0;
}
